@tailwind base;
@tailwind components;
@tailwind utilities;

/* nice font smoothing and selection colors */
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
::selection { background: rgba(99,102,241,.3); }
body { margin: 0; }
